body{
	margin: 0;
	padding: 0;

}
ul {list-style: none;}
li {list-style: none;}
a {text-decoration: none;}
p{text-align: center;}
.logo{
	background-color: pink;
	width: 100%;
	padding: -1px 20px;

}
.navigation {
   overflow: hidden;
    background-color: #FF5050;
    font-family: Arial;
}

.navigation a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navigation a:hover, .dropdown:hover .dropbtn {
    background-color: #800000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: teal}

.dropdown:hover .dropdown-content {
    display: block;
}



.banner1 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

.banner1:hover .overlay {
  opacity: 1;
}

.banner2 {
  
  
  position: absolute;
  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}